@import 'color.css';

.custom-footer {
  background-color: var(--black-color);
  color: var(--text-color);
  font-size: 1.2rem;
}

.custom-footer h5 {
  font-size: 1.5rem;
  color: var(--text-colors);
}
