.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5, 0, 136, 0.5), rgba(5, 0, 136, 0.5)), url(../img/landingBck.jpg);
    background-position: center;
    background-size: cover;
}